table {
    margin-left: 100px;
}
p {
    font-size: 20px;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  
  a {
    color: black;
  }

  #text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  